body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808080;
}

header {
    background: rgb(234, 123, 54);
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #000000 3px solid;
    width: 100%;

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #cccccc;
    font-size: 20px;
    font-weight: bold;
}


.sidenav {
    margin-top: 103px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(234, 123, 54);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    margin-top: 20px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #808080;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


table {
    margin: 50px;
    width: inherit;
}

/* Verify clients */

#clients {
    margin-left: 100px;
    display: none;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    width: 270px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}

/* View Loans Table */
#allLoans {
    margin-left: 100px;
    display: none;
}

/* View unpaid loans table */
#unpaidLoans {
    margin-left: 60px;

    display: none;
}

/* View repaid loans table */
#repaidLoans {
    margin-left: 60px;
    display: none;
}

/* View unpaid loans table*/
#unpaidLoans {
    margin-left: 60px;
    display: none;
}

/* View specific loan */
#specificLoan {
    margin-left: 60px;
    display:none;
}

#myInput {
    background-position: 10px 10px;
    float: right;
    width: 50%px;
    font-size: 16px;
    padding: 12px 20px 12px 4px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 12px;
 }

 #filterTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#filterTable td,
#filterTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#filterTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#filterTable tr:hover {
    background-color: #ddd;
}

#filterTable th {
    width: 270px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}

/* View Approve/Reject Loans */
#approveReject {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 100px;
    display: none;